{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo à esquerda -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'core:landing_page' %}">
            <img src="{% static 'image/logo.png' %}" alt="Logo" width="200" height="40" class="d-inline-block align-text-top me-2">
        </a>
        <!-- Botão para menu responsivo -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">O Itinga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'event:event_list' %}">Eventos</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfil</a>
                    </li>
                    {% if perms.event.add_evento %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'event:evento_create' %}">Cadastrar Novo Evento</a>
                        </li>
                    {% endif %}
                    {% if perms.account.add_statususuario %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:aprovacoes' %}">Gerenciar Autorizações de Usuários</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                        <form method="post" action="{% url 'account:logout' %}" style="display:inline;">
                            {% csrf_token %}
                                <button type="submit" class="nav-link bg-transparent border-0" style="cursor: pointer;">
                                Sair
                            </button>
                        </form>
                        </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:cadastrar' %}">Registre-se</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>